body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mkdf-logo-wrapper a {
  height: 25px !important;
}

.section-wrapper-background {
  background-color: #f7f7f7;
}

.vc_custom_1526286525706{
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}
.vc_custom_1525335818748 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.mkdf-eh-item-content.mkdf-eh-custom-8134 {
  padding: 31px 14% 0px 70px;
}